.changecolor{
  color:green;
  border-style:groove;
  border-color:rgb(99, 234, 139);
  border-width : 10px;
}

.changeSize{
width : 50px;
height : 50px;
}

.header{
  background-color: rgb(117, 234, 238);
  display : flex;
  justify-content: space-between;
}

.grid {
display : flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
